<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color:#ffffff">@ViewBag.Title | Book Rooms At Amazing Prices!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Sticky footer styles
-------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
            
        }

        body {
            /* Margin bottom by footer height */
            background-image: url(../../Content/images/blended-935156.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin-bottom: 60px;
            color: #ffffff;
            
        }

        footer {
            position: absolute;
            bottom: 0;
            /* Set the fixed height of the footer here */
            height: 40px;
            color: #ffffff;
        }
    </style>
</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Smutel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Reservations", "Create", "Reservations")</li>
                    <li>@Html.ActionLink("Bookings Summary", "Index", "Reservations")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Smutel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)



    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
            $(document).ready(function () {
                $('#checkin, #checkout').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-0:+1"
                });
            });        
    </script>


    <script type="text/javascript">
        function getRegions() {
            $.ajax({
                type: "post",
                url: "/Reservations/GetRegions",
                data: { countryId: $('#country').val(), regionId: $('#region').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var region = "<select id='region'>";
                    for (var i = 0; i < data.length; i++) {
                        region = region + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    region = region + '</select>';
                    $('#region').html(region);
                }
            });
        };
        
        $(document).ready(getRegions);
        
        $(document).ready(function () {
            $('#country').change(getRegions)
        });
        
    </script> 


    <script type="text/javascript">
        $(document).ready(function () {
            $("#city").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Reservations/GetCities",
                        type: "post",
                        datatype: "json",
                        data: { regionId: $('#region').val(), prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (val, item) {
                                return {
                                    label: val,
                                    value: val,
                                }
                            }))
                        }
                    })
                }
            });
        });
    </script>  


</body>
</html>
